@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Thin.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-base: "Montserrat, sans-serif";
  --color-primary: #ffff;
  --color-primary-inverted: #0000;
  --color-bg: #343d4b;
  --color-card-bg: #272e37;
  --color-bg-main: #222831;
  --gradient: linear-gradient(
    90deg,
    rgb(41 194 209 / 90%),
    rgba(84, 96, 230, 0.9)
  );
  --gradient-inverted: linear-gradient(
    256deg,
    rgb(41 194 209 / 90%),
    rgba(84, 96, 230, 0.9)
  );
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
  font-family: var(--font-family-base);
  color: var(--color-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}
